<div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-5">
    {% for column in images|batch((images|length / 4)|round(0, 'ceil')) %}
        <div class="grid gap-4">
            {% for image in column %}
                <div>
                    <img class="h-auto max-w-full rounded-lg"
                         src="{{ image.url }}"
                         alt="{{ image.title }}"
                         loading="lazy">
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>