<div
        class="mx-auto h-80 w-full overflow-y-scroll bg-cover bg-fixed bg-top bg-no-repeat shadow-lg"
        style="background-image:url('uploads/media/sulu-400x400-inset/01/1-DALL·E 2024-12-30 18.00.39 - A realistic image of a family standing together outdoors with a romantic forest in the background during a sunny day. The family consists of four memb.webp');">
        {{ dump(content) }}
</div>