{% if content.header_image %}
    <div
            class="parallax-banner hidden md:block"
            style="background-image:url({{ content.header_image.url }});">
    </div>
{% endif %}

{% if content.header_image_mobile %}
    <div
            class="parallax-banner block md:hidden"
            style="background-image:url({{ content.header_image_mobile.url }});">
    </div>
{% endif %}