<div>
    <h2 class="text-6xl text-center mt-[70px] mb-[70px]">Was mache ich alles</h2>
</div>
<div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-5">
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg" alt="">
    </div>
    <div>
        {{ content.service_text_1|raw }}
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
    </div>
    <div>
        {{ content.service_text_2|raw }}
    </div>
    <div>
        {{ content.service_text_3|raw }}
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="">
    </div>
    <div>
        {{ content.service_text_3|raw }}
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="">
    </div>
</div>
