#main-header.scrolled {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    top: 0px;

    img.logo {
        width: 280px;
    }
}

#main-header {
    position: fixed;
    width: 100%;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    z-index: 1000;

    img.logo {
        width: 360px;
        transition: all 0.3s ease;
    }

    @media (min-width: 768px) {
        top: 50px;
    }
}