<div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-5">
    {% for column in images|batch((images|length / 4)|round(0, 'ceil')) %}
        <div class="grid gap-4">
            {% for image in column %}
                <div class="relative bg-gray-100 rounded-lg overflow-hidden">
                    <img class="w-full h-auto rounded-lg transition-opacity duration-300 opacity-0"
                         src="{{ image.url }}"
                         alt="{{ image.title }}"
                         width="{{ image.properties.width }}"
                         height="{{ image.properties.height }}"
                         loading="lazy"
                         onload="this.style.opacity='1'">
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>